#contact-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.2em;
  color: #fff;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./pizza-in-oven.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

#contact-container > * {
  animation: fadein 1.5s;
}

.social-icons {
  margin-top: 10px;
}

.icon {
  margin: 5px;
  color: #fff;
}

.icon:hover {
  color: tomato;
}

@keyframes fadein {
  from { opacity: 0.01; }
  to   { opacity: 1; }
}

.contact-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin-top: 0px;
}

#contact-container > p {
  margin: 5px;
  text-align: center;
}

@media (max-width: 800px) {
  #contact-container {
    font-size: 1.6em;
  }
}