footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #262222;
  color: #fff;
  min-height: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  margin: 0;
  text-decoration: none;
  color: #fff;
}

.copyright:hover {
  cursor: pointer;
  color: tomato;
}