html, body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #262222;
}

main {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}